html, body {
	
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	background:
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQJ8lhSY9nY5V_5uU3fNOv0n3czYZpBCfBh34ZH3KJcSPyg7sui'
);
	background-position: center;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;
	
	perspective: 800px;
}

.card {
	width: 480px;
	height: 500px;
	
	background-image: url('http://i64.tinypic.com/2h327bm.png');
	background-position: center;
	background-size: cover;
	
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
							0 15px 12px rgba(0, 0, 0, 0.22);
	
	transition-property: transform;
	transition-timing-function: cubic-bezier(.550, .055, .675, .19);
	
}
